DB_CONNECTION = mongodb+srv://shananp2001:shana@cluster0.8ljz0.mongodb.net/superhero?retryWrites=true&w=majority&appName=Cluster0
JWT_PASSWORD=shana@123

MONGO_URI=mongodb://localhost:27017/grievanceDB
EMAIL_USER=aurora@gmail.com
EMAIL_PASS=aurora@123
SMTP_HOST = sandbox.smtp.mailtrap.io
SMTP_USER = ac6a6243b44a99
SMTP_PASS = ca791bea9707e6